<div class="container text-center">
    <div class="content-404">
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
        <pre>{{error.stack}}</pre>
        
        <img src="images/404/404.png" class="img-responsive" alt="" />
    </div>
</div>